<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="openrpg orpg github git c c++ c cpp programming computers computer science comp sci cs developer dev developers tools alpha hotfix hotfixes dnd d&amp;d ad&amp;d adnd dungeons and dragons 5e pathfinder 3.5e">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property="og:image" content="{{ site.logo }}">
{% seo %}

<!-- jQuery first, then Tether, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139146786-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139146786-1');
</script>

<!-- Our custom CSS -->
<link rel="stylesheet" href="/css/style.css">

<!-- Yamm!3 - Yet another megamenu for Bootstrap 3 -->
<link rel="stylesheet" href="/css/yamm.css">

<!-- Favicons TODO
<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">-->
<link rel="icon" href="/favicon.ico">
