<nav class="navbar navbar-light navbar-expand-lg bg-light navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url }}">
      <img src="{{ site.baseurl }}/assets/images/logos/d20_transparent.png" class="d-inline-block navbar-logo" alt="(Die Logo)">
      OpenRPG
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item {% if page.group == "contributing" %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/contributing/">Contributing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.chat }}">Chat</a>
        </li>
        <li class="nav-item {% if page.group == "documentation" %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/documentation/introduction/">Documentation</a>
        </li>
        <li class="nav-item {% if page.group == "api" %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/api/introduction/">API</a>
        </li>
        <li class="nav-item {% if page.group == "examples" %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/examples/overview/">Examples</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown {% if page.group == "about" %}active{% endif %}">
          <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">About<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <div class="divider"></div>
            <a class="dropdown-item" href="{{ site.baseurl }}/about/history/">History</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/about/team/">Team</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/about/license/">Licenses</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/about/translations/">Translations</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/about/privacy/">Privacy</a>
          </ul>
        </li>
        <li class="nav-item {% if page.group == "faq" %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/faq/">FAQ</a>
        </li>
        <li class="nav-item {% if page.group == "download" %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/download/">Download</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
