/* page structure*/
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#bodyTag {
    background: #fff;
}

.main-content-wrapper {
    padding: 0px 0px;
    padding-top: 0px;
}

.simple {
    font-family: 'Sacramento', Georgia, serif;
    display: inline-block;
    font-size: 47px;
    color: #ED154F;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: left;
    background-color: #8b747a;
}

.footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.copyright {
    color: #fff;
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 20px;
}

/* Custom styles */
.navbar-default,
.navbar-toggle {
    border-color: #555
}

.icon-bar {
    background-color: #444;
}

.navbar-fixed-bottom,
.navbar-fixed-top,
.navbar-static-top {
    background-color: #579ca8;
    border-radius: 0;
}

h1, h2, h3 {
    color: #666;
    font-weight: 100;
}

footer li {
    display: inline-block;
}

a, a:hover, a:active, a:visited {
    color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #328b7f;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #328b7f;
    border-color: #328b7f;
}

.nav > .doc-nav-item > a {
    color: #333;
}

.doc-sidenav {
    display: none;
}

.active>.doc-sidenav {
    display: block;
}

.doc-nav-item:first-child {
    margin-top: 0;
}

.doc-nav-item.active {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doc-nav-link {
    display: block;
    padding: .25rem .75rem;
    color: #464a4c;
}

.doc-nav-link:hover {
    background-color: #328b7f;
    text-decoration: none;
}

.active>.doc-nav-link {
    font-weight: 500;
    color: #292b2c;
}

.active>.doc-nav-link:hover {
    color: #fff;
}

.doc-sidenav>li>a {
    color: #333;
}

.doc-sidenav-active>a {
    color: #fff !important;
    background-color: #328b7f;
}

.hidden-sm-down {
    margin-top: 25px;
}

.nav-active {
    background-color: #328b7f;
}

/*Subcategory xmlpackage mobile styles*/
.sub-entity-list-item .glyphicon
{
    display: inline-block;
}
.sub-entity-list-row
{
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 12px;
    padding-top: 9px;
    background: #f4f4f4;
}
.subcat-grid-image-wrapper
{
    padding-left:0px;
}
.subcat-grid-image-wrapper .sub-entity-list-item a
{
    margin-top:10%;
}

.sub-entity-row-wrap
{
    border-top:1px solid #DEDEDE;
}
.sub-entity-list-row .grid-item-image-wrap
{
    padding-bottom:0px;
    margin-bottom:0px;
}
.entity-page-products
{
    padding-top:24px;
}
.sub-entity-list-item a
{
    color:#666;
    font-weight: bold;
    display:block;
}
.sub-entity-main-wrapper
{
    padding-top:12px;
}
.sub-entity-list-item:hover > a
{
    text-shadow:1px 1px 0px rgba(255,255,255,0);
}
.contact-us-page {
    max-width: 450px;
}

#product-tabs {
    margin-bottom: 32px;
}

.medium-image-wrap {
    margin-bottom: 24px;
}

.image-controls a {
    color: #666;
    text-shadow: 1px 1px 0px rgba(255,255,255,.1);
}

.related-products {
    margin-bottom: 32px;
}

.related-items-header, .upsell-items-header {
    font-size: 14px;
    padding-bottom: 6px;
    padding-top: 8px;
    border-bottom: 1px solid #ddd;
}

#product-tabs .rating-header {
    display: none;
}

h1.entity-page-header {
    font-size: 28px;
}

.grid-promo-wrap {
    position: relative;
}

.promo-bg {
    position: absolute;
    width: 80px;
    height: 80px;
}

.grid-inner-frame {
    padding: 18px;
    box-shadow: 0px 12px 32px rgba(0,0,0,.1);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    min-height: 400px;
}

    .grid-inner-frame:hover {
    }

.grid-item-name-wrap {
    margin-bottom: 14px;
}

a.logo {
    display: block;
    position: relative;
    z-index: 1000;
}

.top-navigation-wrap {
    position: relative;
    z-index: 980;
}
/* min-height for larger screens */
@media (min-width: 767px) {
    .body-wrapper {
        min-height: 500px;
    }
}

/* adnsf grid system */
@media (max-width: 767px) {
    .one-half, .one-third, .two-thirds, .one-fourth, .three-fourths, .one-fifth, .two-fifths, .three-fifths, .four-fifths, .one-sixth {
        width: 100%;
        float: none;
        display: block;
        margin-left: 0;
    }
}

/* buttons */

.button {
    background: #ccc;
    color: #fff;
    border: 0;
    padding: 12px 32px;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 -3px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -3px rgba(0,0,0,0.1);
    box-shadow: inset 0 -3px rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 4px;
}

    .button:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .button:hover,
    .button:focus {
        color: #fff;
        background-color: #666;
        text-decoration: none;
    }

    .button:active,
    .button.active {
        outline: 0;
        background-image: none;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .button.disabled,
    .button[disabled],
    fieldset[disabled] .button {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

a.button {
    text-decoration: none;
}


.call-to-action {
    color: #ffffff;
    background: #0153a7;
    border-color: #0153a7;
}

    .call-to-action:hover,
    .call-to-action:focus,
    .call-to-action:active,
    .call-to-action.active,
    .open .dropdown-toggle.call-to-action {
        color: #ffffff;
        background-color: #0573e4;
        border-color: #0573e4;
    }

    .call-to-action:active,
    .call-to-action.active,
    .open .dropdown-toggle.call-to-action {
        background-image: none;
    }

    .call-to-action.disabled,
    .call-to-action[disabled],
    fieldset[disabled] .call-to-action,
    .call-to-action.disabled:hover,
    .call-to-action[disabled]:hover,
    fieldset[disabled] .call-to-action:hover,
    .call-to-action.disabled:focus,
    .call-to-action[disabled]:focus,
    fieldset[disabled] .call-to-action:focus,
    .call-to-action.disabled:active,
    .call-to-action[disabled]:active,
    fieldset[disabled] .call-to-action:active,
    .call-to-action.disabled.active,
    .call-to-action[disabled].active,
    fieldset[disabled] .call-to-action.active {
        background-color: #428bca;
        border-color: #357ebd;
    }

    .call-to-action .badge {
        color: #428bca;
        background-color: #fff;
    }

.search-go {
    padding: 6px 8px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: none;
    float: left;
    width: 20%;
    border-radius: 0px;
}
/* header elements */
.header-cart {
    margin: 10px 0 0 0;
}

.logo-wrap img {
    max-width: 100%;
}
/* horizontal navigation */

.topnav, .footernav {
    margin: 0px;
}

    .footernav .navbar-nav {
        margin: 0;
    }

.nav-input-pad {
    padding: 9px 15px 0 15px;
}

.nav-button-pad {
    padding: 5px 15px 0 15px;
}

@media (min-width: 768px) {
    .navbar-form.navbar-right:last-child {
        margin-right: 0;
    }

    .navbar-form.search-wrap {
        padding-top: 8px;
        margin-top: 0;
    }

    .main-content-wrapper {
        min-height: 600px;
    }
}

/* responsive checkout styles */
@media (max-width: 991px) {
    .checkout-tabs {
        border: none 0;
    }

    .checkout-steps-wrap ul li {
        display: block;
    }

    .checkout-tabs > li > a {
        border-radius: 4px;
        padding: 2px 4px;
        display: block;
    }

    .checkout-tabs > li.active > a,
    .checkout-tabs > li.active > a:hover,
    .checkout-tabs > li.active > a:focus {
        color: #555555;
        background-color: #eee;
        border: 1px solid #dddddd;
        cursor: default;
        text-decoration: none;
    }
}

.opc-wrap .opc-page-left-column {
    width: 60%;
}

.opc-wrap .opc-page-right-column {
    width: 38%;
}

.opc-wrap .shipping-methods-wrap {
    width: 100% !important;
}

#shippingMethodListWrap label {
    display: inline;
}

@media (max-width: 767px) {
    .cart-title {
        clear: both;
    }

    .opc-wrap .opc-page-left-column {
        width: 100%;
        float: none;
    }

    .opc-wrap .opc-page-right-column {
        width: 100%;
        float: none;
    }
}


/* product page */
.variant-options-label {
    font-weight: bold;
}

.product-image-wrap .product-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
}


/* kit product */
.kit_group img[id$='_imgFile'] {
    display: block;
    max-width: 100%;
    height: auto;
}

.kit-sidebar {
    position: static;
    z-index: 0;
    width: 190px;
    background-color: #fff;
    text-align: left;
}

.kit-sidebar {
    width: 100%;
}

@media (max-width: 767px) {
    .kit-group-content select {
        width: 90%;
    }

    .kit-group-content input[type='text'] {
        width: 90%;
    }

    .kit-groups .kit-column-content {
        width: auto;
        display: block;
    }

    .kit-groups .kit-column-sidebar {
        display: block;
        width: auto;
        padding-left: 0;
    }

    .kit-group-item-image {
        display: block;
        max-width: 100%;
        height: auto;
    }



    .kit-groups {
        width: 100%;
    }
}

/*grid item styles for entity pages, related, upsell etc. */

.grid-item {
    padding-bottom: 16px;
    text-align: center;
}

.grid-item-image {
    margin: 0 auto;
}

.grid-item-image-wrap {
    padding-bottom: 8px;
}

/* entity page */

.entity-image {
    margin: 0 8px 8px 0;
}

.entity-page-description {
    margin-bottom: 8px;
}

.sub-entity-list {
    margin-bottom: 16px;
}

/* narrow forms */

@media (max-width: 767px) {
    .payment-page .credit-card-form, .signin-page .login-form, .signin-page .forgot-password-email, .advanced-search-form-wrap {
        width: 100%;
    }
}

/* account page and create account page */

.okay-to-email input {
    margin: 2px;
}

.okay-to-email label {
    margin-right: 4px;
}

.over-thirteen input {
    margin-right: 4px;
    ;
}

/* product ratings */
.rating-form .one-fifth {
    width: 20%;
    display: inline;
}

/* Add To Cart Form Styles */
.table-order {
    text-align: right;
}

.visa {
    background: url(images/visa.png) no-repeat top left;
}

.mastercard {
    background: url(images/mastercard.png) no-repeat top left;
}

.amex {
    background: url(images/amex.png) no-repeat top left;
}

.discover {
    background: url(images/discover.png) no-repeat top left;
}

.paypal {
    background: url(images/paypal.png) no-repeat top left;
}

.amazon {
    background: url(images/amazon.png) no-repeat top left;
}

.cards-accepted {
    padding-top: 12px;
}

.cardname {
    display: inline-block;
    margin-right: 4px;
    min-height: 32px;
    width: 51px;
}

.category-link-box,
.featured-shadow-box {
    text-align: center;
    position: relative;
    box-shadow: 0px 12px 32px rgba(0,0,0,.15);
    max-width: 375px;
    margin: 0 auto;
    margin-bottom: 24px;
}

a.category-link-button {
    position: absolute;
    left: 10%;
    right: 10%;
    display: none;
    bottom: 24px;
}

.category-link-box img {
    margin: 0 auto;
}

.category-box {
    padding: 0px;
}

.footer-menu-wrap ul {
    list-style: none;
    line-height: 32px;
    color: #fff;
}

.main-header {
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px rgba(0,0,0,.1);
}

.footer-wrapper {
    padding: 20px 0px;
    background: #0153a7;
}

.footerHeading {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.footer-menu-wrap a {
    color: #fff;
}

.social-links {
    margin-bottom: 32px;
}

.category-link-wrapper {
    margin-bottom: 40px;
}

.category-link-row {
    margin-bottom: 0px;
}

.big-heading-categories, .featured-items-header, .instagram-handle, .featured-products-header, .featured-entities-header {
    font-size: 32px;
    margin-bottom: 24px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    line-height: 34px;
    border-bottom: none;
    font-weight: 300;
    padding-bottom: 8px;
    color: #666;
}
.featured-entities, .featured-products
{
    margin-bottom:45px;
}
.featured-item-image-wrap
{
    margin-bottom:22px;
}
.featured-entity-image
{
margin:0 auto;
}
.featured-entity-inner
{
    text-align:center;
}
.big-heading-categories {
    margin-bottom: 32px;
}

.instagram-wrap, .billboard-image {
    margin-bottom: 46px;
}

.social-links img, .middle-line img {
    border-radius: 100%;
}
.retail-location
{
    padding: 12px;
    background: #efefef;
    text-align: center;
    border: 1px solid #fff;
    box-shadow:0px 0px 2px rgba(0,0,0,.3);
    margin-bottom:18px;
}
.retail-info-box
{
    text-align:center;
}
.featured-entity-name-wrap {
    padding: 11px;
    font-weight: Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: #0153a7;
}
.featured-entity-name-wrap a
{
    color:rgba(0, 0, 0, 0.5);
}
.store-image
{
    margin-bottom:12px;
}
.new-bug {
    color: #d69811;
}

.footerHeading {
    padding-bottom: 18px;
}

.footer-row ul {
    list-style: none;
    line-height: 1.42857143;
}

.featured-item-inner-wrap {
    text-align: center;
    position: relative;
    box-shadow: 0px 24px 32px rgba(0,0,0,.1);
    border: 11px solid #fff;
    min-height: 400px;
}

a.shipping-asterisk {
    color: #ED154F;
}

a.logo {
    color: #666;
}

    a.logo:hover {
        text-decoration: none;
    }

.free-shipping-message {
    padding-top: 55px;
    font-size: 16px;
    color: #666;
    padding-left: 0px;
    text-align:center;
}

.logo-wrap {
    padding-top: 8px;
    text-align: center;
}

    .logo-wrap img {
        margin: 0 auto;
    }

.static-cart {
    padding: 8px 19px;
    text-align: center;
    background: rgba(255,255,255,.2);
    font-size: 12px;
    margin-bottom: 12px;
    display: inline-block;
    float: right;
}

.empty-cart {
}

.top-right-header {
    text-align: right;
}

.account-nav-wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

.top-account-nav {
    background: rgba(255,255,255,.2);
    font-size: 12px;
    padding: 2px;
    border-right: 1px solid rgba(0,0,0,.05);
}

.header-social-icons {
    float: right;
    margin-right: 3px;
}

.search-box {
    width: 80%;
    float: left;
}

.search-static {
    max-width: 360px;
    text-align: right;
}

.popcart-dropdown .caret-wrapper {
    display: inline-block;
    background: rgba(255, 255, 255, 0.52);
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    margin-left: 6px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    float: right;
    position: relative;
    top: -4px;
}

.cart-items {
    display: inline-block;
    padding: 0px 0px 0px 4px;
}

.popcart-dropdown .caret {
    margin-left: 0px;
}

.pop-cart-menu {
    padding: 14px;
}

.dropdown-menu > li > a.button {
    color: #fff;
}

.dropdown-menu > li > a.call-to-action {
    color: #fff;
}

.dropdown-menu > li > a.button:hover {
    color: #333;
}

.popcart {
    padding-top: 0px;
}

.template-top-right {
    text-align: center;
    padding-top: 8px;
}

.pop-cart-menu {
    right: 0px;
    left: inherit;
}

.top-account-nav a.dropdown-toggle {
    text-align: center;
}

.popcart-label {
    padding-left: 4px;
    display: inline-block;
}

.tab-content {
    padding: 18px;
    border: 1px solid #ebebeb;
    border-top: none;
    position:relative;
}

.product-image-wrap {
    margin-bottom: 32px;
    background: #fff;
    padding: 32px;
}

.product-page-top {
    background: #efefef;
    padding: 21px;
    margin-bottom: 32px;
    margin-left: -15px;
    margin-right: -15px;
}
  .variant-list-page .product-page-top
      {
       margin-bottom:0px;
      }
h1.product-page-header {
    margin-top: 0px;
    font-size: 22px;
    text-shadow: 1px 1px 0px rgba(255,255,255, .1);
    margin-bottom: 18px;
}

picture > img {
    width: 100%;
}

.product-page .add-to-cart-group .quantity-field {
    margin-bottom: 3px;
}

.billboard-wrapper picture > img{
    width:100%;
}

.search-wrapper {
    float: right;
    margin-top: 12px;
}

.static-cart {
    background: #0153a7;
}

.cart-items {
    color: #fff;
}

.popcart-dropdown a.glyphicon, .popcart-dropdown .caret-wrapper {
    color: #fff;
}

.empty-cart {
    color: #fff;
}

.billboard-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}

.welcome-text-wrapper{
    box-shadow: 0px 12px 32px rgba(0,0,0,.15);
    padding: 24px;
    background: rgba(0, 0, 0, 0.01);
    margin-bottom: 32px;
}

.featured-wrapper {
    margin-bottom: 40px;
}

.breadcrumb {
    padding: 18px 0px;
    margin-bottom: 0px;
}

.brand-section-wrapper {
    padding-right: 32px;
    min-height: 100px;
}

a.brand-links {
    display: block;
}

.brand-list-heading {
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 12px;
    color: rgba(255,0,0,.6);
}

.brands-sidebar {
    width: 34px;
    right: 0px;
    padding: 8px 6px;
    font-size: 10px;
    background: rgba(0,0,0,.1);
    position: fixed;
    right: -34px;
    top: 1%;
    top: 244px;
    text-align: center;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(19, 190, 247, .8);
}

.nav-hint {
    background: rgba(19, 190, 247, .8);
    padding: 10px 6px 11px 6px;
    color: #fff;
    font-weight: bold;
}

.nudge-menu {
    right: 0px;
}

.brands-sidebar a {
    display: block;
    height: 25px;
    font-weight: bold;
    color: #fff;
}

.brand-section-wrapper {
    margin-bottom: 32px;
}
.brandbar .featured-entity-name-wrap
{
    display:none;
}
.brandbar .featured-shadow-box
{
    box-shadow:none;
    margin-bottom:0px;
}
.brandbar .view-all-entities
{
    font-family: 'Sacramento', Georgia, serif;
    text-transform: none;
    background: none;
    box-shadow: none;
    Color: #ED156A;
    font-size: 34px;
    background:#fff;
    display:inline-block;
}
.brandbar .featured-item-image-wrap
{
    margin-bottom:0px;
    padding-bottom:0px;
}

.featured-products .featured-shadow-box
{
    box-shadow:none;
}
.signin-text.group-header
{
    background:transparent;
    padding:0px;
    border:none;
}
.select-options-wrapper
{
    margin-bottom:14px;
}
    .variant-list-wrapper
    {
        background:#F5F5F5;
        margin-bottom:32px;
        margin-left:-15px;
        margin-right:-15px;
    }
    .variant-image-wrap img
    {
            width: 100%;
            max-width: 150px;
    }

    .responsive-variant-list
    {
        border-top: 1px solid #efefef;
      margin-bottom: 13px;
        background: #fff;
        box-shadow: 2px 2px 3px rgba(0,0,0,.1);
        padding:22px;
        padding-bottom:0px;
    }

    .variant-list-page .product-image-wrap
    {
        margin-bottom:24px;
    }
    .variant-list-add-to-cart-form .quantity-label
    {
        display:none;
    }
      .variant-list-add-to-cart-form .quantity-field
      {
          text-align:center;
          vertical-align:middle;
      }
      .variant-list-add-to-cart-form .call-to-action
      {
          font-size:13px;
          padding:9px 18px;
          vertical-align:middle;
          margin-bottom:0px;
      }
      .variant-name-wrap h3
      {
          font-weight:normal;
      }
      .variant-price-wrap
      {
            margin-top: 20px;
            margin-bottom: 10px;
      }
      .variant-description-wrap
      {
             margin: 0px -22px 0px -22px;
            background: #F9F9F9;
            padding: 22px 40px;
      }
   .product-page-footer
   {
       padding-top:32px;
   }

.footer-wrapper a {
    color: #fff;
}

.copyright {
    color: #fff;
}

/*<<<<<<<<<<<   CUSTOM MEDIA QUERIES HERE   >>>>>>>>>>>>*/
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .variant-list-inner
    {
        padding:32px;
        padding-bottom:20px;
    }
    .responsive-variant-list {
         padding: 0px;
        padding-top: 15px;
    }
    .variant-description-wrap {
        margin-bottom: 15px;
        padding: 32px 50px;
        margin:0px;
    }
   .variant-list-page .product-image-wrap
   {
       margin-bottom:0px;
   }

 .contact-form
 {
     width:50%;
 }
.subcat-grid-image-wrapper
{
    padding-left:15px;
}
.sub-entity-list-row .grid-item-image-wrap
{
    margin-bottom:12px;
    padding-top:0px;
}
.sub-entity-list-item .glyphicon
{
    display:none;
}
.subcat-grid-image-wrapper .sub-entity-list-item
{
    padding-top:0px;
}
.sub-entity-list-row
{
    border-bottom:none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align:center;
      background: transparent;
}
.sub-entity-row-wrap
{
    border-top:none;
}
.sub-entity-wrapper
{
    background:#efefef;
    border-top:1px solid #fff;
    box-shadow:0px 0px 2px rgba(0,0,0,.4);
    padding: 6px 8px 8px 8px;
    text-shadow: 1px 1px 0px #fff;
    margin-bottom: 12px;
    padding-bottom:17px;
}
.subcat-grid-image-wrapper .sub-entity-list-item a
{
    margin-top:0%;
}
.sub-entity-image-wrap
{
    padding-top:12px;
}
    .brands-sidebar {
        top: 150px;
    }

    .category-link-box {
        max-width: 375px;
        margin-bottom: 0px;
    }

    .half-box-width {
        max-width: inherit;
    }

    .product-page-top {
        padding: 50px;
    }
    .variant-list-page .product-page-top
    {
        margin-bottom:0px
    }

    .welcome-text-wrapper, .retail-info-box {
        padding: 50px;
    }
    .retail-info-box
{
    padding-top:24px;
}
    .big-heading-categories, .featured-items-header, .instagram-handle, .featured-products-header {
        margin-bottom: 32px;
    }

    .category-box {
        padding: 15px;
    }

    .billboard-wrapper {
        margin: 10px 15px
    }

    .add-to-wishlist {
        margin-left: 8px;
    }

    .product-page .add-to-cart-group .quantity-field {
        margin-bottom: 0px;
    }

    .simple {
        font-size: 65px;
    }

    .logo-wrap {
        padding-top: 17px;
        padding-bottom: 0px;
        text-align: left;
    }

        .logo-wrap img {
            margin: inherit;
        }

    .template-top-right {
        text-align: right;
    }

    .navbar-static-top {
        background-color: #579ca8;
        width: 100%;
    }

    .col-sm-2 {
        width: auto;
        white-space: nowrap;
    }

    .col-sm-12 {
        width: calc(100% - 30px);
    }

    .navbar-right .dropdown-menu {
        right: inherit;
        left: auto;
    }

    .carousel-indicators li {
        display: none;
    }

    .welcome-text-wrapper, .retail-info-box {
        padding: 50px;
    }

    .retail-info-box
    {
        padding-top:24px;
    }

    .category-link-box {
        max-width: 375px;
        margin-bottom: 0px;
    }

    .category-box {
        padding: 15px;
    }
}

@media (min-width: 992px) {
    .search-box {
        width: 80%;
    }
}

@media (min-width: 1200px) {
        .sub-entity-list-row .grid-item-image-wrap
        {
            padding-top:0px;
        }
}
.featured-entities-shop-now {
    display: none;
}

.brandbar .featured-item-name-wrap {
    display: none;
}

