/* page structure*/
body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

#bodyTag {
    background: #fff;
}

.main-content-wrapper {
    padding: 0px 0px;
    padding-top: 0px;
}

.simple {
    font-family: 'Sacramento', Georgia, serif;
    display: inline-block;
    font-size: 47px;
    color: #ED154F;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: left;
    background-color: #8b747a;
}

.footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.copyright {
    color: #fff;
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 20px;
}

/* Custom styles */
.navbar-default,
.navbar-toggle {
    border-color: #555
}

.icon-bar {
    background-color: #444;
}

.navbar-fixed-bottom,
.navbar-fixed-top,
.navbar-static-top {
    background-color: #579ca8;
    border-radius: 0;
}

h1, h2, h3 {
    color: #666;
    font-weight: 100;
}

footer li {
    display: inline-block;
}

a, a:hover, a:active, a:visited {
    color: white;
}

.nav > li > a:focus,
.nav > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #328b7f;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background-color: #328b7f;
    border-color: #328b7f;
}

.doc-sidenav {
    display: none;
}

.active .doc-sidenav {
    display: block;
}

.doc-nav-item:first-child {
    margin-top: 0;
}

.doc-nav-item:active {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doc-nav-link {
    display: block;
    padding: .25rem .75rem;
    color: #333;
}

.doc-nav-link:hover {
    background-color: #328b7f;
    color:  #fff;
    text-decoration: none;
}

.active .doc-nav-link {
    font-weight: 500;
    color: #292b2c;
}

.active>.doc-nav-link:hover {
    color: #fff;
}

.doc-sidenav > li > a {
    color: #333;
}

.doc-sidenav-active > a {
    color: #fff !important; /* TODO never use !important EVER */
    background-color: #328b7f;
}

.hidden-sm-down {
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-active {
    background-color: #328b7f;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}

.search-box {
    position: relative;
    margin-bottom: 1.5rem;
}

.search-results {
    right: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    font-size: .9rem;
}

.search-results .dropdown-item:last-child {
    margin-bottom: .25rem;
}

.search-results .dropdown-item:first-child {
    margin-top: .25rem;
}

.search-results .dropdown-item {
    padding-right: .75rem;
    padding-left: .75rem;
}

.search-results .no-results {
    padding: .75rem 1rem;
    color: #7a7a7a;
    text-align: center;
    white-space: normal;
}